<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="debug" value="true" />
    
    <!--
       TCP Settings
       
       IP Address: Set to "0.0.0.0" for any (default and recommended behavior)
                   If that doesn't work, I recommend trying "127.0.0.1". You may also
                   have to change the IP address for the plugin as well (%KSP_Folder%/Plugins/PluginData/LEDJeb/config.xml)
                   
       Port: Default is 5155, only change this if you know something is already using that port.
             Note if you change this, you must also change the plugin's port # as well
             This is also found in %KSP_Folder%/Plugins/PluginData/LEDJeb/config.xml
    -->

    <add key="IP Address" value="0.0.0.0" />
    <add key="Port" value="5155" />
  </appSettings>
</configuration>